*.hg
*.idea
*.pyc
*.pyo
zobs/
docs/_build
sandbox/
htmlcov
*.hidden
*.project
*.pydevproject
.DS_Store
notes
*.pypirc
tests/__pycache__/
tests/test_integration/__pycache__/
tests/test_unit/__pycache__/
dist/
__pycache__/
pymetric/
landsat/scenes/
