asn1crypto==0.24.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
click-plugins==1.0.3
cligj==0.4.0
cryptography==2.2.2
Fiona==1.7.10
future==0.16.0
GDAL==2.2.2
idna==2.6
mkl-fft==1.0.0
mkl-random==1.0.1
munch==2.3.1
numpy==1.14.2
pandas==0.22.0
pycparser==2.18
pyOpenSSL==17.5.0
PySocks==1.6.8
python-dateutil==2.7.2
pytz==2018.4
PyYAML==3.12
requests==2.18.4
Shapely==1.6.4.post1
six==1.11.0
urllib3==1.22
